@media screen and (max-width : 1300px) {
    .wrapper {
        padding: 0 18px 0 18px;
    }

    .header {
        position: static;
    }

    .header-title {
        font-size: calc(20px + 17 * (100vw / 1300));
        line-height: calc(31px + 22 * (100vw / 1300));
        
    }
   

    .logo {
        font-size: 15px;
    }

    .header-nav,
    .header-btn {
        display: none;
    }

    .header {
        padding: 24px 0;
    }

    .tel {
        color: white;
        margin-right: 100px;

    }


    .project-section {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .hidden-title {
        display: block;

    }

    .slider-icon {
        position: absolute;
        top: 50%;
        left: 5%;
    }

    .slider-icon2 {
        position: absolute;
        top: 50%;
        left: 90%;
    }

    .image2-1,
    .slider {
        display: none;
    }


    .points {
        display: none;
    }

    .completed {
        padding-left: 100px;
    }

    .completed,
    .second-subtitle {
        text-align: center;

    }

    .img-hidden {
        display: block;
        position: relative;

    }

    .hidden-project {
        width: 100%;
    }


    .request-container,
    .pig-logo-container,
    .clients-section,
    .fantasies-list,
    .image-container{
        display: none;
    }


    .fantasies-section {
        background-image: none;
        background-color: white;
        margin-top: -180px;

    }

    .fantasies-section::before {
        background: none;
    }

    .fantasies-style {
        margin: 0;
        padding: 0;
    }

    .fantasies-title {
        font-size: 20px;
        line-height: 28px;
        margin-top: 55px;
        margin-bottom: 24px;
        text-align: center;

    }

    .fantasy-hidden {
     
        display: block;
        width: 100%;
    }

    .question-section {
        background: none;
        margin-top: -180px;
        background-color: #131313

    }
    .question-container {
       margin-top: -18px;
    }

    .question-section::before {
        background: none;
    }
   
    .form-question-container {
        margin-top: 10%;
        height: auto;
        padding: 0;
        width: 100%;
    }

    .form-question {
        height: auto;
        align-items: flex-start;
    }

    .flex-question {
        flex-direction: column;
    }
    

    .question-input {
        width: 100%;
    
    }

    .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        

    }
    
    .phone-form-group {
        margin-left: 0;
    }

    .question-btn {
        width: 100%;
    }

    .location-center {
        flex-direction: column-reverse;
  
        margin-top: 10%;
        width: 100%;
        
    }
    
    .location-title {
        font-size: 18px;
        line-height: 25px;
        width: 100%;
        padding-top: 10px;
    }

    .footer {
        display: none;
    }


}

@media screen and (max-width : 768px) {


    .get-ready {
        font-size: 14px;
        line-height: 135.84%;
        width: 300px;
    }

    .calculate-btn,
    .submit-btn {
        height: 51px;
        width: auto;
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 32px;
    }

    .control-section {
        background-color: #131313;
        display: flex;
        flex: column;
        align-items: center;
    }

    .control-subtitle {
        color: #FFFFFF;
        font-size: 11px;
        line-height: 1.7;
        color: #fff;
        margin-bottom: 61px;
    }

    .control-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .block {
        padding-left: 40px;
    }

    .control-title,
    .images {
        padding-left: 100px;
        font-size: calc(20px + 17 * (100vw / 768));
    }

    .control-form {
        margin-top: 0;
        width: 100%;

    }

    .form-wrap {
        flex-direction: column;
        align-items: center;
    }

    .control-form-container {
        width:100%;
        margin-bottom: 26px;

    }

    .control-label {
        color: #FFFFFF;
    }

    .control-btn {
        margin-top: 30px;
        width: 90%;
        margin-left: 0;
    }

    .control-input {
        width: 100%
    }

    input.control-input::-webkit-input-placeholder {
        color: #FFFFFF;
    }

    input.control-input[type="text"]::-moz-placeholder {
        color: #FFFFFF;
    }

    .input-label {
        width: 100%;
    }

    .input-text {
        color: white;
        font-size: 11px;
    }

    .repair-section {
        margin-top: 15%;
    }

    .gallery {
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 4px;
        grid-auto-flow: row;
        margin-top: 20px;
    }

    .repair-title {
        padding-left: 20px;
        text-align: center;
    }

    .repair-images {
        padding-left: 35%;
    }


}