@media screen and (max-width : 1300px) {
    .wrapper {
        padding: 0 18px 0 18px;
    }

    .header-title {
        font-size: calc(20px + 17 * (100vw / 1300));
        line-height: calc(31px + 22 * (100vw / 1300))
    }

    .header-nav,
    .header-btn {
        display: none;
    }

    .header {
        padding: 24px 0;
    }

    .tel {
        color: white;
        margin-right: 100px;
    }

    
    .project-section {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .img-hidden {
        display: block;
        position: relative;
    }

    .hidden-project {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slider-icon {
        position: absolute;
        top: 50%;
        left: 5%;
    }

    .slider-icon2 {
        position: absolute;
        top: 50%;
        left: 90%;
    }

    .image2-1,
    .slider {
        display: none;
    }
   

    .points {
        display: none;
    }

    .completed {
        padding-left: 100px;
    }

    .completed,
    .second-subtitle {
        text-align: center;

    }


}
   
    @media screen and (max-width : 768px) {
        .get-ready{
    font-size: 14px;
    line-height: 135.84%;
    padding-left: 18px;
    text-align: left;
        }
        .calculate-btn,.submit-btn{
            height: 51px;
            width: auto;
            margin-left: 18px;
            margin-right: 18px;
            margin-top: 32px;
        }
        
        .control-section {
            background-color: #131313;
            display: flex;
            flex: column;
            align-items: center;
        }
    
        .control-subtitle {
            color: #FFFFFF;
            font-size: 11px;
            line-height: 1.7;
            color: #fff;
            margin-bottom: 61px;
        }
    
        .control-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        .block {
            padding-left: 40px;
        }
    
        .control-title,
        .images {
            padding-left: 100px;
        }
        .control-form{
            flex-direction: column;
            align-items: center;
            margin-top: 0;
            padding-bottom: 30px;
            
        }
        .control-form-container{
            width: 100%;
            margin-bottom: 26px;
            
        }
        .control-label {
            color: white;
           
        }
        .control-btn {
           
        }
        .control-input {
            width: 100%;
        }
        
    
        input.control-input::-webkit-input-placeholder {
            color: #FFFFFF;
        }
    
        input.control-input[type="text"]::-moz-placeholder {
            color: #FFFFFF;
        }
        
        .input-text{
            color:white;
        }
        .gallery{
            display: grid;
            justify-content: center;
            align-content: center;
            gap: 4px;
            grid-auto-flow: row;
            margin-top: 20px;
        }
        .repair-title{
            padding-left: 20px;
            text-align: center;
        }
        .repair-images{
            padding-left: 35%;
        }
        
    .request-container,.pig-logo-container,.clients-section{
        display:none;
    }
    .question-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fantasies-section {
         background-image: none;
        background-color:white;
        margin-top: -180px;
       
    }
    .fantasies-section::before{
        background:none;
    }
    .fantasies-style {
        margin:0;
         padding:0;
    }
    .fantasies-title {
        font-size: 20px;
        line-height: 28px;
        margin-top: 55px;
        margin-bottom: 24px;
        text-align: center;
    }
    
    .fantasies-list,.image-container {
        display:none;
    }
}



